html,
body {
  height: 100%;
}
#list li {
  cursor: pointer;
  font-size: 20px;
}
#drag-item {
  display: none;
  background: yellow;
  alpha: 0.5;
  z-index: 99;
  position: absolute;
  font-size: 20px;
}
.drag-over {
  border-bottom: 2px dashed #777;
  background: #FED;
}
input.text-editing {
  z-index: 99;
  position: absolute;
  font-size: 20px;
}
